# Naive Bayes

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("IMDB Dataset.csv")

In [6]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

## Text Cleaning

1. Sample 10000 rows
2. Remove html tags 
3. Remove Special Characters
4. Converting every thing to lower case 
5. Removing Stop Words 
5. Stemming

In [9]:
df = df.sample(10000)

In [10]:
df.shape

(10000, 2)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 44724 to 23725
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

Making Positive = 1 & Negative = 0

In [14]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [15]:
df.head()

                                                  review  sentiment
44724  After spotting the boat at the end of the prev...          1
30756  This is the first and as far as I can tell, th...          0
34030  Collusion Course is even worse than the typica...          0
28946  I am a big fan of cinema verite and saw this m...          1
27644  This film has to be as near to perfect a film ...          1

### Removing HTML Tags

In [16]:
import re 
clean = re.compile('<.*?>')

In [18]:
re.sub(clean,'',df.iloc[2].review)

'Collusion Course is even worse than the typical "evil white male corporate capitalist" movie of the week. This movie is less pleasant than a toothache. Jay Leno can act. He\'s good in his underrated debut movie, The Silverbears, in which he gives a performance consist with the demands of his character. This movie is so bad Leno\'s character, a sanctimonious buffoon, is less annoying than Morita\'s character, a sanctimonious fool.'

In [19]:
def clean_html(text):
    clean =re.compile('<.*?>')
    return re.sub(clean,'',text)

In [20]:
df['review'] = df['review'].apply(clean_html)

In [21]:
df

                                                  review  sentiment
44724  After spotting the boat at the end of the prev...          1
30756  This is the first and as far as I can tell, th...          0
34030  Collusion Course is even worse than the typica...          0
28946  I am a big fan of cinema verite and saw this m...          1
27644  This film has to be as near to perfect a film ...          1
...                                                  ...        ...
31290  It, at all, you have seen when harry met sally...          0
28405  all i can say about this film is to read the b...          0
24803  To anyone who hasn't seen this film yet, I hav...          1
40854  Considering John Doe apparently inspired Kyle ...          0
23725  If (as I just pointed out in THE GOAT) Keaton ...          1

[10000 rows x 2 columns]

### Converting to Lower Case

In [22]:
def conv_to_lower_case(text):
      return text.lower()

In [23]:
df['review'] = df['review'].apply(conv_to_lower_case)

In [25]:
# df

### Removing Special Characters

In [28]:
def remove_special_char(text):
    x = ''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [29]:
df['review'] = df['review'].apply(remove_special_char)

In [31]:
# df

### Remove Stop Words

In [32]:
import nltk

In [33]:
from nltk.corpus import stopwords

In [34]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [36]:
def remove_stop_words(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear() 
    return y

In [37]:
df['review'] = df['review'].apply(remove_stop_words)

In [38]:
df

                                                  review  sentiment
44724  [spotting, boat, end, previous, episode, three...          1
30756  [first, far, tell, completed, production, hear...          0
34030  [collusion, course, even, worse, typical, evil...          0
28946  [big, fan, cinema, verite, saw, movie, heard, ...          1
27644  [film, near, perfect, film, john, ford, made, ...          1
...                                                  ...        ...
31290  [seen, harry, met, sally, avoid, one, make, ba...          0
28405  [say, film, read, back, video, case, put, back...          0
24803  [anyone, seen, film, yet, friendly, warning, w...          1
40854  [considering, john, doe, apparently, inspired,...          0
23725  [pointed, goat, keaton, following, tradition, ...          1

[10000 rows x 2 columns]

## Stemming

In [39]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [44]:
y = []

def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    # print(z)
    y.clear() 
    # print(y)
    return z

In [45]:
stem_words(['I',"Love","Loving","Loved"])

['i', 'love', 'love', 'love']

In [46]:
df['review'] = df['review'].apply(stem_words)

In [47]:
df

                                                  review  sentiment
44724  [spot, boat, end, previou, episod, three, minu...          1
30756  [first, far, tell, complet, product, heart, da...          0
34030  [collus, cours, even, wors, typic, evil, white...          0
28946  [big, fan, cinema, verit, saw, movi, heard, in...          1
27644  [film, near, perfect, film, john, ford, made, ...          1
...                                                  ...        ...
31290  [seen, harri, met, salli, avoid, one, make, ba...          0
28405  [say, film, read, back, video, case, put, back...          0
24803  [anyon, seen, film, yet, friendli, warn, watch...          1
40854  [consid, john, doe, appar, inspir, kyle, xy, c...          0
23725  [point, goat, keaton, follow, tradit, comic, f...          1

[10000 rows x 2 columns]

In [48]:
def join_break(list_input):
    return " ".join(list_input)

In [49]:
df['review'] = df['review'].apply(join_break)

In [50]:
df

                                                  review  sentiment
44724  spot boat end previou episod three minut survi...          1
30756  first far tell complet product heart dark ever...          0
34030  collus cours even wors typic evil white male c...          0
28946  big fan cinema verit saw movi heard interest h...          1
27644  film near perfect film john ford made film mag...          1
...                                                  ...        ...
31290  seen harri met salli avoid one make bang head ...          0
28405  say film read back video case put back shelf p...          0
24803  anyon seen film yet friendli warn watch la cas...          1
40854  consid john doe appar inspir kyle xy creator e...          0
23725  point goat keaton follow tradit comic find odd...          1

[10000 rows x 2 columns]

In [57]:
x =df.iloc[:,0:1].values

In [62]:
# y = df['sentiment'].values

In [66]:
# df['review']

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)

In [69]:
x= cv.fit_transform(df['review']).toarray()

In [73]:
x.shape

(10000, 2500)

In [77]:
# df.iloc[:,-1].values
y = df['sentiment'].values

In [78]:
y

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

In [79]:
y.shape

(10000,)

In [51]:
from sklearn.model_selection import train_test_split

In [82]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

In [84]:
x_train.shape

(8000, 2500)

In [85]:
x_test.shape

(2000, 2500)

In [86]:
y_train.shape

(8000,)

In [87]:
y_test.shape

(2000,)

### Applying Naive Bayes

In [88]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [89]:
model_1 = GaussianNB()
model_2 = MultinomialNB()
model_3 = BernoulliNB()

In [90]:
model_1.fit(x_train,y_train)

GaussianNB()

In [91]:
model_2.fit(x_train,y_train)

MultinomialNB()

In [92]:
model_3.fit(x_train,y_train)

BernoulliNB()

In [96]:
y_pred_m1=model_1.predict(x_test)
y_pred_m2=model_2.predict(x_test)
y_pred_m3=model_3.predict(x_test)

### Accuracy of all Naive Bayes Algos

In [97]:
from sklearn.metrics import accuracy_score

In [98]:
print("GaussianNB : ",accuracy_score(y_test,y_pred_m1))
print("MultinomialNB : ",accuracy_score(y_test,y_pred_m2))
print("BernaulliNB: ",accuracy_score(y_test,y_pred_m3))

GaussianNB :  0.7395
MultinomialNB :  0.845
BernaulliNB:  0.8445