In [113]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import cross_val_predict
import pandas as pd 
from sklearn.model_selection import cross_val_score
import seaborn as sns

In [114]:
!pip install --upgrade scikit-learn mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\hp\appdata\roaming\python\python39\site-packages (1.3.0)
Requirement already satisfied: mlxtend in c:\users\hp\appdata\roaming\python\python39\site-packages (0.22.0)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [115]:
df=sns.load_dataset('iris')

In [116]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As  bolte hai ki 1 baar hie jo hum Train Test Split krte hai ushse reliable result nahi aata so hum 
Cross Validation use krke  basically yeah hai ki train_test_split ko hum n number of times krrhe hai jitna humne specify kiya hai

In [117]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS 

lr = LogisticRegression()

sel = EFS(lr,max_features=4,scoring='accuracy',cv=5)

In [118]:

model = sel.fit(df[['sepal_length','sepal_width','petal_length','petal_width']],df['species'])

C:\Users\hp\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
Features: 15/15

In [119]:
model.best_score_

0.9733333333333334

In [120]:
model.best_feature_names_

('sepal_length', 'sepal_width', 'petal_length', 'petal_width')

above this 3  columns that is giving best performance

In [121]:
model.subsets_

{0: {'feature_idx': (0,),
  'cv_scores': array([0.66666667, 0.73333333, 0.76666667, 0.76666667, 0.83333333]),
  'avg_score': 0.7533333333333333,
  'feature_names': ('sepal_length',)},
 1: {'feature_idx': (1,),
  'cv_scores': array([0.53333333, 0.56666667, 0.53333333, 0.56666667, 0.63333333]),
  'avg_score': 0.5666666666666667,
  'feature_names': ('sepal_width',)},
 2: {'feature_idx': (2,),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('petal_length',)},
 3: {'feature_idx': (3,),
  'cv_scores': array([1.        , 0.96666667, 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.96,
  'feature_names': ('petal_width',)},
 4: {'feature_idx': (0, 1),
  'cv_scores': array([0.73333333, 0.83333333, 0.76666667, 0.86666667, 0.86666667]),
  'avg_score': 0.8133333333333332,
  'feature_names': ('sepal_length', 'sepal_width')},
 5: {'feature_idx': (0, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'petal_length')},
 6: {'feature_idx': (0, 3),
  'cv_scores': array([0.93333333, 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'petal_width')},
 7: {'feature_idx': (1, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_width', 'petal_length')},
 8: {'feature_idx': (1, 3),
  'cv_scores': array([0.93333333, 0.96666667, 0.9       , 0.93333333, 0.96666667]),
  'avg_score': 0.9400000000000001,
  'feature_names': ('sepal_width', 'petal_width')},
 9: {'feature_idx': (2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.96,
  'feature_names': ('petal_length', 'petal_width')},
 10: {'feature_idx': (0, 1, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'sepal_width', 'petal_length')},
 11: {'feature_idx': (0, 1, 3),
  'cv_scores': array([0.9       , 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.9466666666666667,
  'feature_names': ('sepal_length', 'sepal_width', 'petal_width')},
 12: {'feature_idx': (0, 2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9666666666666668,
  'feature_names': ('sepal_length', 'petal_length', 'petal_width')},
 13: {'feature_idx': (1, 2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9666666666666668,
  'feature_names': ('sepal_width', 'petal_length', 'petal_width')},
 14: {'feature_idx': (0, 1, 2, 3),
  'cv_scores': array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9733333333333334,
  'feature_names': ('sepal_length',
   'sepal_width',
   'petal_length',
   'petal_width')}}

In [122]:
metric_df = pd.DataFrame.from_dict(model.get_metric_dict()).T

In [123]:
metric_df

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
0,"(0,)","[0.6666666666666666, 0.7333333333333333, 0.766...",0.753333,"(sepal_length,)",0.069612,0.05416,0.02708
1,"(1,)","[0.5333333333333333, 0.5666666666666667, 0.533...",0.566667,"(sepal_width,)",0.046932,0.036515,0.018257
2,"(2,)","[0.9333333333333333, 1.0, 0.9, 0.9333333333333...",0.953333,"(petal_length,)",0.051412,0.04,0.02
3,"(3,)","[1.0, 0.9666666666666667, 0.9, 0.9333333333333...",0.96,"(petal_width,)",0.049963,0.038873,0.019437
4,"(0, 1)","[0.7333333333333333, 0.8333333333333334, 0.766...",0.813333,"(sepal_length, sepal_width)",0.069612,0.05416,0.02708
5,"(0, 2)","[0.9333333333333333, 1.0, 0.9, 0.9333333333333...",0.953333,"(sepal_length, petal_length)",0.051412,0.04,0.02
6,"(0, 3)","[0.9333333333333333, 0.9666666666666667, 0.933...",0.953333,"(sepal_length, petal_width)",0.034274,0.026667,0.013333
7,"(1, 2)","[0.9333333333333333, 1.0, 0.9, 0.9333333333333...",0.953333,"(sepal_width, petal_length)",0.051412,0.04,0.02
8,"(1, 3)","[0.9333333333333333, 0.9666666666666667, 0.9, ...",0.94,"(sepal_width, petal_width)",0.032061,0.024944,0.012472
9,"(2, 3)","[0.9666666666666667, 0.9666666666666667, 0.933...",0.96,"(petal_length, petal_width)",0.032061,0.024944,0.012472
10,"(0, 1, 2)","[0.9333333333333333, 1.0, 0.9, 0.9333333333333...",0.953333,"(sepal_length, sepal_width, petal_length)",0.051412,0.04,0.02
11,"(0, 1, 3)","[0.9, 0.9666666666666667, 0.9333333333333333, ...",0.946667,"(sepal_length, sepal_width, petal_width)",0.043691,0.033993,0.016997
12,"(0, 2, 3)","[0.9666666666666667, 0.9666666666666667, 0.933...",0.966667,"(sepal_length, petal_length, petal_width)",0.027096,0.021082,0.010541
13,"(1, 2, 3)","[0.9666666666666667, 0.9666666666666667, 0.933...",0.966667,"(sepal_width, petal_length, petal_width)",0.027096,0.021082,0.010541
14,"(0, 1, 2, 3)","[0.9666666666666667, 1.0, 0.9333333333333333, ...",0.973333,"(sepal_length, sepal_width, petal_length, peta...",0.032061,0.024944,0.012472

#### Linear Regression Eg

In [124]:
df2=pd.read_csv("HousingData.csv")

In [125]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

dropping null values......

In [126]:
df2.dropna(inplace=True)

In [127]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394 entries, 0 to 504
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     394 non-null    float64
 1   ZN       394 non-null    float64
 2   INDUS    394 non-null    float64
 3   CHAS     394 non-null    float64
 4   NOX      394 non-null    float64
 5   RM       394 non-null    float64
 6   AGE      394 non-null    float64
 7   DIS      394 non-null    float64
 8   RAD      394 non-null    int64
 9   TAX      394 non-null    int64
 10  PTRATIO  394 non-null    float64
 11  B        394 non-null    float64
 12  LSTAT    394 non-null    float64
 13  MEDV     394 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 46.2 KB

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
x_train,x_test,y_train,y_test = train_test_split(df2.iloc[:,:-1],df2['MEDV'],test_size=0.2,random_state=20)

In [130]:
print(x_train.shape)

(315, 13)

In [131]:
print(x_test.shape)

(79, 13)

In [132]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
108,0.12802,0.0,8.56,0.0,0.520,6.474,97.1,2.4329,5,384,20.9,395.24,12.27
105,0.13262,0.0,8.56,0.0,0.520,5.851,96.7,2.1069,5,384,20.9,394.05,16.47
198,0.03768,80.0,1.52,0.0,0.404,7.274,38.3,7.3090,2,329,12.6,392.20,6.62
354,0.04301,80.0,1.91,0.0,0.413,5.663,21.9,10.5857,4,334,22.0,382.80,8.05
403,24.80170,0.0,18.10,0.0,0.693,5.349,96.0,1.7028,24,666,20.2,396.90,19.77

In [133]:
x_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26
455,4.75237,0.0,18.10,0.0,0.713,6.525,86.5,2.4358,24,666,20.2,50.92,18.13
141,1.62864,0.0,21.89,0.0,0.624,5.019,100.0,1.4394,4,437,21.2,396.90,34.41
491,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07
21,0.85204,0.0,8.14,0.0,0.538,5.965,89.2,4.0123,4,307,21.0,392.53,13.83

In [134]:
# x_train = x_train.dropna()
# y_train = y_train.dropna()

As data jo hai vo alag alag scale pe hai so , Linear Regression mai ese kehte hai ki 1 scale pe data laane    
so using Standard Scalar , saare data ko 1 hie scale pe leeayenge

In [135]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [136]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [137]:
# x_train
# x_test

#### Without Feature Selection

In [138]:
from sklearn.metrics import r2_score
import numpy as np 
model = LinearRegression()
print("training...:", np.mean(cross_val_score(model, x_train, y_train, cv=5, scoring='r2')))
print("testing...:", np.mean(cross_val_score(model, x_test, y_test, cv=5, scoring='r2')))

training...: 0.707556932207353
testing...: 0.6930838698573565

### With Feature Selection

In [140]:
lr = LinearRegression()

efs2 =EFS(lr,max_features=13,scoring='r2',cv=10,print_progress=True,n_jobs=-1)

sel= efs2.fit(x_train,y_train)

Features: 8191/8191

In [142]:
sel.best_score_

0.67770569312888

In [141]:
sel.best_feature_names_

('1', '4', '5', '7', '8', '9', '10', '11', '12')

Yeah above 10 Col use krke Best Result aaraha hai

In [143]:
x_train_sel = sel.transform(x_train)
x_test_sel = sel.transform(x_test)

Isme bss 10 cols hai

In [144]:
lr2 = LinearRegression()

print("training...:", np.mean(cross_val_score(lr2, x_train, y_train, cv=5, scoring='r2')))
print("testing...:", np.mean(cross_val_score(lr2, x_test, y_test, cv=5, scoring='r2')))

training...: 0.707556932207353
testing...: 0.6930838698573565